## Citibike Analysis

#### Prepare data

* Extract data from [Citi Bike Data](https://www.citibikenyc.com/system-data)
* Clean data
* Oragnize data
* Export data for analysis

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
import os

from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen

In [ ]:
if not os.path.isdir('data'):
    os.makedirs('data')

In [ ]:
def read_from_zip_file(year, month):
    """Extract data from citibike, convert to Pandas DataFrame
    
    parameters
    ----------
        year: string
        month: string
        
    return
    ------
        df: Pandas DataFrame"""
    
    if year == "2016":
        url = f"https://s3.amazonaws.com/tripdata/{year}{month}-citibike-tripdata.zip"
    else:
        url = f"https://s3.amazonaws.com/tripdata/{year}{month}-citibike-tripdata.csv.zip"
    response = urlopen(url)
    zipfiles = ZipFile(BytesIO(response.read()))
    file_name = zipfiles.namelist()[0]
    file = zipfiles.open(file_name)
    df = pd.read_csv(file, low_memory=False)
    
    df["year"] = year
    if month == '01':
        df["month"] = 1
    elif month == '02':
        df["month"] = 2 
    elif month == '03':
        df["month"] = 3
    elif month == '04':
        df["month"] = 4 
    elif month == '05':
        df["month"] = 5
    elif month == '06':
        df["month"] = 6
    elif month == '07':
        df["month"] = 7 
    elif month == '08':
        df["month"] = 8
    elif month == '09':
        df["month"] = 9
    elif month == '10':
        df["month"] = 10
    elif month == '11':
        df["month"] = 11
    elif month == '12':
        df["month"] = 12
        
    return df

In [ ]:
df_files = [
    'df_2016_01', 'df_2016_02', 'df_2016_03', 'df_2016_04', 'df_2016_05', 'df_2016_06', 
    'df_2016_07', 'df_2016_08', 'df_2016_09', 'df_2016_10', 'df_2016_11', 'df_2016_12',
    'df_2017_01', 'df_2017_02', 'df_2017_03', 'df_2017_04', 'df_2017_05', 'df_2017_06', 
    'df_2017_07', 'df_2017_08', 'df_2017_09', 'df_2017_10', 'df_2017_11', 'df_2017_12',
    'df_2018_01', 'df_2018_02', 'df_2018_03', 'df_2018_04', 'df_2018_05', 'df_2018_06', 
    'df_2018_07', 'df_2018_08', 'df_2018_09', 'df_2018_10', 'df_2018_11', 'df_2018_12']

### Extract data from from Citibike

In [ ]:
print("Start extracting 2016 data")
year = "2016"
for i in range(12):
    if i == 0:
        month = "01"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 1:
        month = "02"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 2:
        month = "03"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 3:
        month = "04"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 4:
        month = "05"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 5:
        month = "06"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 6:
        month = "07"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 7:
        month = "08"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 8:
        month = "09"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 9:
        month = "10"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 10:
        month = "11"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 11:
        month = "12"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
print("Finished extract 2016 data")

In [ ]:
print("Start extracting 2017 data")
year = "2017"
for i in range(12, 24):
    if i == 12:
        month = "01"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 13:
        month = "02"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 14:
        month = "03"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 15:
        month = "04"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 16:
        month = "05"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 17:
        month = "06"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 18:
        month = "07"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 19:
        month = "08"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 20:
        month = "09"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 21:
        month = "10"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 22:
        month = "11"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 23:
        month = "12"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
print("Finished extract 2017 data")

In [ ]:
print("Start extracting 2018 data")
year = "2018"
for i in range(24,36):
    if i == 24:
        month = "01"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 25:
        month = "02"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 26:
        month = "03"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 27:
        month = "04"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 28:
        month = "05"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 29:
        month = "06"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 30:
        month = "07"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 31:
        month = "08"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 32:
        month = "09"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 33:
        month = "10"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 34:
        month = "11"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 35:
        month = "12"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
print("Finished extract 2017 data")

In [ ]:
df_files[0].head(1)

In [ ]:
df_files[35].head(1)

In [ ]:
df_files[9].head(1)

### Cleaning Data

#### Change column names to make them consistant

In [ ]:
def check_col_consistance(df_files):
    """Check to see if the column names for the dataframes are consistant
    
    parameters
    ----------
    df_files: list
        list of dataframes
        
    return
    ------
    df_with_diff_columns: list
        list of the index if the dataframe with inconsistance columns"""
    
    file_count = len(df_files)
    df_with_diff_columns = []

    for i in range(file_count):
        same_col = (df_files[0].columns == df_files[i].columns)
        if ~same_col.all():
            df_with_diff_columns.append(i)
    return df_with_diff_columns

In [ ]:
# Change df_files column names if they are inconsistant
df_with_diff_columns = check_col_consistance(df_files)
if len(df_with_diff_columns) > 0:
    c = list(df_files[0].columns)
    for i in df_with_diff_columns:
        C = list(df_files[i].columns)
        df_files[i].rename(columns={C[0]: c[0], C[1]: c[1], C[2]: c[2], C[3]: c[3], C[4]: c[4], C[5]: c[5], C[6]: c[6],
                                        C[7]: c[7], C[8]: c[8], C[9]: c[9], C[10]: c[10], C[11]: c[11], C[12]: c[12], C[13]: c[13],
                                        C[14]: c[14], C[15]: c[15], C[16]: c[16], C[17]: c[17]},  inplace=True)
# check_col_consistance(df_files)
check_col_consistance(df_files)

In [ ]:
# Change the starttime and endtime datetime format to make the data consistane
file_count = len(df_files)
for i in range(file_count):
    df_files[i]['starttime'] = pd.to_datetime(df_files[9]['starttime'])
    df_files[i]['stoptime'] = pd.to_datetime(df_files[9]['stoptime'])
    # replace 0,1,2 with characters
    df_files[i]['gender'].replace([0, 1, 2], ['Unknown', 'Male', 'Female'], inplace=True)

In [ ]:
df_files[0].head()

#### Concant the dataframes

In [384]:
df = pd.concat(df_files)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47758651 entries, 0 to 1016504
Data columns (total 17 columns):
tripduration               int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     int64
usertype                   object
birth year                 float64
gender                     object
year                       object
month                      int64
dtypes: datetime64[ns](2), float64(7), int64(3), object(5)
memory usage: 6.4+ GB

In [385]:
# # Too many rows, have to drop rows for able to use Tableau Publis
# df.dropna(inplace=True)
# df.info()
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,year,month
0,923,2016-10-01 00:00:07,2016-10-01 00:05:35,268.0,Howard St & Centre St,40.719105,-73.999733,3002.0,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,Male,2016,1
1,379,2016-10-01 00:00:11,2016-10-01 00:06:49,476.0,E 31 St & 3 Ave,40.743943,-73.979661,498.0,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,Male,2016,1
2,589,2016-10-01 00:00:14,2016-10-01 00:07:25,489.0,10 Ave & W 28 St,40.750664,-74.001768,284.0,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,Female,2016,1
3,889,2016-10-01 00:00:21,2016-10-01 00:06:12,268.0,Howard St & Centre St,40.719105,-73.999733,3002.0,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,Female,2016,1
4,1480,2016-10-01 00:00:21,2016-10-01 00:45:15,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,Male,2016,1

#### Replace NaN with values

In [386]:
df.isnull().sum()

tripduration                     0
starttime                  3246929
stoptime                   3246929
start station id              2497
start station name            2497
start station latitude           0
start station longitude          0
end station id                2497
end station name              2497
end station latitude             0
end station longitude            0
bikeid                           0
usertype                     51780
birth year                 3217198
gender                           0
year                             0
month                            0
dtype: int64

In [387]:
df.count()

tripduration               47758651
starttime                  44511722
stoptime                   44511722
start station id           47756154
start station name         47756154
start station latitude     47758651
start station longitude    47758651
end station id             47756154
end station name           47756154
end station latitude       47758651
end station longitude      47758651
bikeid                     47758651
usertype                   47706871
birth year                 44541453
gender                     47758651
year                       47758651
month                      47758651
dtype: int64

In [388]:
# Replace NaN with 0 for birth year
df["birth year"].fillna(0, inplace=True)

In [389]:
# Replace NaN with 'Unknown' for usertype
df["usertype"] = df["usertype"].fillna("Unknown")

In [390]:
# Replace NaN with -1 for start station id, end station id
df["start station id"] = df["start station id"].fillna(-1)
df["end station id"] = df["end station id"].fillna(-1)

In [391]:
# Replace NaN with 'Unknown' for start station name, end station name
df["start station name"] = df["start station name"].fillna("Unknown")
df["end station name"] = df["end station name"].fillna("Unknown")

In [426]:
# Replace NaN with '1900-01-01 00:00:00' for starttime, end stoptime
time = pd.to_datetime('1900-01-01 00:00:00')
df["starttime"] = df["starttime"].fillna(time)
df["stoptime"] = df["stoptime"].fillna(time)

In [393]:
df.isnull().sum()

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
year                       0
month                      0
dtype: int64

#### Change columns data types

In [394]:
df["birth year"] = df["birth year"].astype('int64')
df["start station id"] = df["start station id"].astype('int64')
df["end station id"] = df["end station id"].astype('int64')

#### Add a hour column

In [435]:
df['hour'] = df['starttime'].dt.hour

In [448]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,year,month,hour
0,923,2016-10-01 00:00:07,2016-10-01 00:05:35,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958,Male,2016,1,0
1,379,2016-10-01 00:00:11,2016-10-01 00:06:49,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969,Male,2016,1,0
2,589,2016-10-01 00:00:14,2016-10-01 00:07:25,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982,Female,2016,1,0
3,889,2016-10-01 00:00:21,2016-10-01 00:06:12,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961,Female,2016,1,0
4,1480,2016-10-01 00:00:21,2016-10-01 00:45:15,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952,Male,2016,1,0

### Export Data

#### Export data which don't have station id
* Extract rows which don't have station id 
* export them to csv file

In [397]:
# Extract data which don't have start station id and end station id
# Comfirm that rows which have no start station id also don't have end station id
no_start_station_id_df = df[(df['start station id'] == -1)] 
no_station_id_df = df[(df['end station id'] == -1)] 
compare = no_station_id_df == no_start_station_id_df
compare.all().all()

True

In [398]:
# Write the data to csv
no_start_station_id_df.to_csv('data/no_station_id_data.csv', index=False)

In [399]:
# # Remove no station id data from dateframe df
# df = df[(df['start station id'] != -1)] 
# df.shape

In [400]:
# df = df[(df['birth year'] != 0)] 
# df.shape

In [401]:
# df = df[(df['usertype'] != "Unknown")] 
# df.shape

#### Export data which don't have start time
* Extract rows which don't have start time
* export them to csv file

In [402]:
# Verify that no_starttime rows also no_stopttime
no_starttime = df[(df['starttime'] == '1900-01-01 00:00:00')] 
no_stopttime = df[(df['stoptime'] == '1900-01-01 00:00:00')] 
compare = no_starttime == no_stopttime
compare.all().all()

True

In [403]:
no_starttime.to_csv('data/no_starttime_stoptime_data.csv', index=False)

In [404]:
# # Remove no station id data from dateframe df
# df = df[(df['starttime'] != '1900-01-01 00:00:00')] 
# df.shape

#### Export Start stations, end stations data

In [405]:
start_stations = df[['start station id', 'start station name', 'start station latitude', 'start station longitude']]
end_stations = df[['end station id', 'end station name', 'end station latitude', 'end station longitude']]
start_stations = start_stations.drop_duplicates(subset='start station id', keep="last").reset_index(drop=True).sort_values(by=['start station id'])
end_stations = end_stations.drop_duplicates(subset='end station id', keep="last").reset_index(drop=True).sort_values(by=['end station id'])
start_stations = start_stations.sort_values(by=['start station id'])
end_stations = end_stations.sort_values(by=['end station id'])
start_stations.to_csv('data/start_stations.csv', index=False)
end_stations.to_csv('data/end_stations.csv', index=False)

#### Export stations data

In [406]:
new_column_names = ['station id', 'station name', 'station latitude', 'station longitude']
start_stations_new = start_stations.rename(columns={'start station id': new_column_names[0], 
                               'start station name': new_column_names[1], 
                               'start station latitude': new_column_names[2],
                               'start station longitude': new_column_names[3]})

end_stations_new = end_stations.rename(columns={'end station id': new_column_names[0], 
                             'end station name': new_column_names[1], 
                             'end station latitude': new_column_names[2],
                             'end station longitude': new_column_names[3]})

stations = start_stations_new.append(end_stations_new)
stations = stations.drop_duplicates(subset='station id', keep="last").reset_index(drop=True).sort_values(by=['station id'])
stations.to_csv('data/stations.csv', index=False)

#### Export 2018 data

In [407]:
df_2016 = df[df['year'] == '2016'] 
df_2017 = df[df['year'] == '2017'] 
df_2018 = df[df['year'] == '2018']

In [424]:
df_2018 = df_2018.sample(n=1450000, random_state=1)
df_2018 = df_2018.reset_index()
df_2018.drop(columns=['index'], inplace=True)
df_2018.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,year,month,hour
0,241,2016-10-06 08:50:11,2016-10-06 08:58:19,525,W 34 St & 11 Ave,40.755942,-74.002116,514,12 Ave & W 40 St,40.760875,-74.002777,15557,Subscriber,1994,Male,2018,11,8

In [415]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450000 entries, 0 to 1449999
Data columns (total 18 columns):
tripduration               1450000 non-null int64
starttime                  1450000 non-null datetime64[ns]
stoptime                   1450000 non-null datetime64[ns]
start station id           1450000 non-null int64
start station name         1450000 non-null object
start station latitude     1450000 non-null float64
start station longitude    1450000 non-null float64
end station id             1450000 non-null int64
end station name           1450000 non-null object
end station latitude       1450000 non-null float64
end station longitude      1450000 non-null float64
bikeid                     1450000 non-null int64
usertype                   1450000 non-null object
birth year                 1450000 non-null int64
gender                     1450000 non-null object
year                       1450000 non-null object
month                      1450000 non-null int64
hour                       1450000 non-null int64
dtypes: datetime64[ns](2), float64(4), int64(7), object(5)
memory usage: 199.1+ MB

In [ ]:
# df_2018 = df_2018[(df_2019['starttime'] != '1900-01-01 00:00:00')]

In [416]:
df_2018.to_csv('data/2018_data.csv', index=False)
print("2018_data.csv file has been created")

2018_data.csv file has been created

#### Export 2016, 2017, 2018 summary data

In [193]:
group_by_month_2016 = df_2016.groupby(['month'])
group_by_month_2017 = df_2017.groupby(['month'])
group_by_month_2018 = df_2018.groupby(['month'])
print("finished group by moth")

finished group by moth

In [194]:
# Get total ride count by month for 2016, 2017, 2018
count_by_month_2016 = group_by_month_2016.count().transpose()
count_by_month_2017 = group_by_month_2017.count().transpose()
count_by_month_2018 = group_by_month_2018.count().transpose()
rides_by_month_2016 = list(count_by_month_2016.loc['tripduration'])
rides_by_month_2017 = list(count_by_month_2017.loc['tripduration'])
rides_by_month_2018 = list(count_by_month_2018.loc['tripduration'])

In [195]:
# Get Average trip duration by month for 2016, 2017, 2018
avg_by_month_2016 = group_by_month_2016.mean().transpose()
avg_by_month_2017 = group_by_month_2017.mean().transpose()
avg_by_month_2018 = group_by_month_2018.mean().transpose()
avg_tripduration_by_month_2016 = list(avg_by_month_2016.loc['tripduration'])
avg_tripduration_by_month_2017 = list(avg_by_month_2017.loc['tripduration'])
avg_tripduration_by_month_2018 = list(avg_by_month_2018.loc['tripduration'])

In [196]:
# Get gender ride count by month for 2016, 2017, 2018
def get_rides_by_gender(list_of_rides):
    """Return rodes count by gender for a given list"""
    female = []
    male = []
    unknown = []
#     rides = list(count_by_month_gender_2018.loc['tripduration'])
    i = 0
    for ride in list_of_rides:
        n = i % 3
        if n == 0:
            female.append(ride)
        elif n == 1:
            male.append(ride)
        else:
            unknown.append(ride)
        i += 1
    return {'female': female, 'male': male, 'unknown': unknown}

group_by_month_gender_2016 = df_2016.groupby(['month', 'gender'])
group_by_month_gender_2017 = df_2017.groupby(['month', 'gender'])
group_by_month_gender_2018 = df_2018.groupby(['month', 'gender'])
count_by_month_gender_2016 = group_by_month_gender_2016.count().transpose()
count_by_month_gender_2017 = group_by_month_gender_2017.count().transpose()
count_by_month_gender_2018 = group_by_month_gender_2018.count().transpose()
rides_by_month_gender_2016_all = list(count_by_month_gender_2016.loc['tripduration'])
rides_by_month_gender_2017_all = list(count_by_month_gender_2017.loc['tripduration'])
rides_by_month_gender_2018_all = list(count_by_month_gender_2018.loc['tripduration'])
rides_by_month_gender_2016 = get_rides_by_gender(rides_by_month_gender_2016_all)
rides_by_month_gender_2017 = get_rides_by_gender(rides_by_month_gender_2017_all)
rides_by_month_gender_2018 = get_rides_by_gender(rides_by_month_gender_2018_all)

In [197]:
# create a df
year = [str(2016 + int(i / 12)) for i in range(36)]
month = [i % 12 + 1 for i in range(36)]
rides_total =  rides_by_month_2016 + rides_by_month_2017 + rides_by_month_2018
rides_female = rides_by_month_gender_2016['female'] + rides_by_month_gender_2017['female'] + rides_by_month_gender_2018['female']
rides_male = rides_by_month_gender_2016['male'] + rides_by_month_gender_2017['male'] + rides_by_month_gender_2018['male']
rides_unknown = rides_by_month_gender_2016['unknown'] + rides_by_month_gender_2017['unknown'] + rides_by_month_gender_2018['unknown']
average_trip_duration = avg_tripduration_by_month_2016 + avg_tripduration_by_month_2017 + avg_tripduration_by_month_2018


ride_summary = pd.DataFrame({
    'year': year,
    'month': month,
    'rides total ': rides_total,
    'rides female': rides_female,
    'rides male': rides_male,
    'rides unknown': rides_unknown,
    'average_trip_duration': average_trip_duration
})
ride_summary

,year,month,rides total,rides female,rides male,rides unknown,average_trip_duration
0,2016,1,484933,104457,379312,1164,765.154273
1,2016,2,531048,112587,417215,1246,776.502642
2,2016,3,826678,190551,634214,1913,847.090785
3,2016,4,882679,206510,674127,2042,861.970332
4,2016,5,1035959,249831,783687,2441,861.883465
5,2016,6,1265112,314575,947425,3112,830.252293
6,2016,7,1176515,297031,876313,3171,829.211792
7,2016,8,1343039,339546,999494,3999,841.328912
8,2016,9,1362321,355586,1002292,4443,836.988531
9,2016,10,1388498,350496,1033611,4391,815.340819
10,2016,11,1088074,264304,819880,3890,782.851060
11,2016,12,767100,171585,592839,2676,712.974733
12,2017,1,694412,152014,539673,2725,718.460722
13,2017,2,734761,169309,562815,2637,742.965142
14,2017,3,689686,151896,535309,2481,725.510696
15,2017,4,1146732,287698,854806,4228,931.118076
16,2017,5,1350445,339394,1006273,4778,869.931865
17,2017,6,1394874,364973,1024515,5386,945.464182
18,2017,7,1374848,364121,1004715,6012,941.866420
19,2017,8,1370651,366471,997813,6367,1072.908758
20,2017,9,1392684,371050,1014990,6644,921.369399
21,2017,10,1407377,367918,1032208,7251,995.138914
22,2017,11,1241304,304164,930725,6415,825.173185
23,2017,12,850522,194760,651547,4215,728.678938
24,2018,1,718994,151806,537589,29599,826.810655
25,2018,2,843114,181266,621749,40099,877.397791
26,2018,3,976672,212687,702533,61452,881.993721
27,2018,4,1307543,293830,890184,123529,970.907322
28,2018,5,1573872,360341,1040432,173099,1091.322676
29,2018,6,1573872,369542,1041686,162644,1133.021000
30,2018,7,1573872,373137,1026443,174292,1033.180981
31,2018,8,1573049,377970,1028623,166456,1022.463837
32,2018,9,1573254,386884,1040483,145887,970.166853
33,2018,10,1573678,376946,1088381,108351,913.967476
34,2018,11,1260275,290355,902806,67114,849.527495
35,2018,12,1016416,223646,746562,46208,823.008326

In [198]:
ride_summary.to_csv('data/ride_summary.csv', index=False)

In [199]:
a=1
a

1

### Prepare data for analysis

In [ ]:
####

#### Explore Data

In [ ]:
df.groupby(['', 'col2'])['col3'].mean()

Usertypes

In [ ]:
usertypes = pd.DataFrame({'usertype_id': [0, 1, 2],
             'usertype': ['Unknown', 'Subscriber', 'Customer']})
usertypes.to_csv('data/usertypes.csv', index=False)