## Citibike Analysis

#### Prepare data

* Extract data from [Citi Bike Data](https://www.citibikenyc.com/system-data)
* Clean data
* Oragnize data
* Export data for analysis

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
import os

from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen

In [ ]:
if not os.path.isdir('data'):
    os.makedirs('data')

In [ ]:
def read_from_zip_file(year, month):
    """Extract data from citibike, convert to Pandas DataFrame
    
    parameters
    ----------
        year: string
        month: string
        
    return
    ------
        df: Pandas DataFrame"""
    
    if year == "2016":
        url = f"https://s3.amazonaws.com/tripdata/{year}{month}-citibike-tripdata.zip"
    else:
        url = f"https://s3.amazonaws.com/tripdata/{year}{month}-citibike-tripdata.csv.zip"
    response = urlopen(url)
    zipfiles = ZipFile(BytesIO(response.read()))
    file_name = zipfiles.namelist()[0]
    file = zipfiles.open(file_name)
    df = pd.read_csv(file, low_memory=False)
    
    df["year"] = year
    if month == '01':
#         df["month"] = "Jan"
        df["month"] = 1
    elif month == '02':
#         df["month"] = "Feb"
        df["month"] = 2 
    elif month == '03':
#         df["month"] = "Mar"
        df["month"] = 3
    elif month == '04':
#         df["month"] = "Apr"
        df["month"] = 4 
    elif month == '05':
#         df["month"] = "May"
        df["month"] = 5
    elif month == '06':
#         df["month"] = "Jun"
        df["month"] = 6
    elif month == '07':
#         df["month"] = "Jul"
        df["month"] = 7 
    elif month == '08':
#         df["month"] = "Aug"
        df["month"] = 8
    elif month == '09':
#         df["month"] = "Sep"
        df["month"] = 9
    elif month == '10':
#         df["month"] = "Oct"
        df["month"] = 10
    elif month == '11':
#         df["month"] = "Nov"
        df["month"] = 11
    elif month == '12':
#         df["month"] = "Dec"
        df["month"] = 12
        
    return df

In [ ]:
df_files = [
    'df_2016_01', 'df_2016_02', 'df_2016_03', 'df_2016_04', 'df_2016_05', 'df_2016_06', 
    'df_2016_07', 'df_2016_08', 'df_2016_09', 'df_2016_10', 'df_2016_11', 'df_2016_12',
    'df_2017_01', 'df_2017_02', 'df_2017_03', 'df_2017_04', 'df_2017_05', 'df_2017_06', 
    'df_2017_07', 'df_2017_08', 'df_2017_09', 'df_2017_10', 'df_2017_11', 'df_2017_12',
    'df_2018_01', 'df_2018_02', 'df_2018_03', 'df_2018_04', 'df_2018_05', 'df_2018_06', 
    'df_2018_07', 'df_2018_08', 'df_2018_09', 'df_2018_10', 'df_2018_11', 'df_2018_12']

### Extract data from from Citibike

In [ ]:
print("Start extracting 2016 data")
year = "2016"
for i in range(12):
    if i == 0:
        month = "01"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 1:
        month = "02"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 2:
        month = "03"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 3:
        month = "04"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 4:
        month = "05"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 5:
        month = "06"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 6:
        month = "07"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 7:
        month = "08"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 8:
        month = "09"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 9:
        month = "10"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 10:
        month = "11"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 11:
        month = "12"
        df_files[i] = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
print("Finished extract 2016 data")

In [ ]:
print("Start extracting 2017 data")
year = "2017"
for i in range(12, 24):
    if i == 12:
        month = "01"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 13:
        month = "02"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 14:
        month = "03"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 15:
        month = "04"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 16:
        month = "05"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 17:
        month = "06"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 18:
        month = "07"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 19:
        month = "08"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 20:
        month = "09"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 21:
        month = "10"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 22:
        month = "11"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 23:
        month = "12"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
print("Finished extract 2017 data")

In [ ]:
print("Start extracting 2018 data")
year = "2018"
for i in range(24,36):
    if i == 24:
        month = "01"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 25:
        month = "02"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 26:
        month = "03"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 27:
        month = "04"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 28:
        month = "05"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 29:
        month = "06"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 30:
        month = "07"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 31:
        month = "08"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 32:
        month = "09"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 33:
        month = "10"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 34:
        month = "11"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
    elif i == 35:
        month = "12"
        df_files[i]  = read_from_zip_file(year, month)
        print(f"finished df_files[{i}]")
print("Finished extract 2017 data")

In [ ]:
df_files[0].head(1)

In [ ]:
df_files[35].head(1)

In [ ]:
df_files[9].head(1)

### Cleaning Data

#### Change column names to make them consistant

In [ ]:
def check_col_consistance(df_files):
    """Check to see if the column names for the dataframes are consistant
    
    parameters
    ----------
    df_files: list
        list of dataframes
        
    return
    ------
    df_with_diff_columns: list
        list of the index if the dataframe with inconsistance columns"""
    
    file_count = len(df_files)
    df_with_diff_columns = []

    for i in range(file_count):
        same_col = (df_files[0].columns == df_files[i].columns)
        if ~same_col.all():
            df_with_diff_columns.append(i)
    return df_with_diff_columns

In [ ]:
# Change df_files column names if they are inconsistant
df_with_diff_columns = check_col_consistance(df_files)
if len(df_with_diff_columns) > 0:
    c = list(df_files[0].columns)
    for i in df_with_diff_columns:
        C = list(df_files[i].columns)
        df_files[i].rename(columns={C[0]: c[0], C[1]: c[1], C[2]: c[2], C[3]: c[3], C[4]: c[4], C[5]: c[5], C[6]: c[6],
                                        C[7]: c[7], C[8]: c[8], C[9]: c[9], C[10]: c[10], C[11]: c[11], C[12]: c[12], C[13]: c[13],
                                        C[14]: c[14], C[15]: c[15], C[16]: c[16], C[17]: c[17]},  inplace=True)
# check_col_consistance(df_files)
check_col_consistance(df_files)

In [ ]:
# Change the starttime and endtime datetime format to make the data consistane
file_count = len(df_files)
for i in range(file_count):
    df_files[i]['starttime'] = pd.to_datetime(df_files[9]['starttime'])
    df_files[i]['stoptime'] = pd.to_datetime(df_files[9]['stoptime'])
    # replace 0,1,2 with characters
    df_files[i]['gender'].replace([0, 1, 2], ['Unknown', 'Male', 'Female'], inplace=True)

In [ ]:
df_files[0].head()

#### Concant the dataframes

In [ ]:
df = pd.concat(df_files)
df.info()

In [ ]:
df.shape[0]

#### Replace NaN with values

In [ ]:
df.isnull().sum()

In [ ]:
df.count()

In [ ]:
# Replace NaN with 0 for birth year
df["birth year"].fillna(0, inplace=True)

In [ ]:
# Replace NaN with 'Unknown' for usertype
df["usertype"] = df["usertype"].fillna("Unknown")

In [ ]:
# Replace NaN with -1 for start station id, end station id
df["start station id"] = df["start station id"].fillna(-1)
df["end station id"] = df["end station id"].fillna(-1)

In [ ]:
# Replace NaN with 'Unknown' for start station name, end station name
df["start station name"] = df["start station name"].fillna("Unknown")
df["end station name"] = df["end station name"].fillna("Unknown")

In [ ]:
# Replace NaN with '1900-01-01 00:00:00' for starttime, end stoptime
time = pd.to_datetime('1900-01-01 00:00:00')
df["starttime"] = df["starttime"].fillna(time)
df["stoptime"] = df["stoptime"].fillna(time)

In [ ]:
df.isnull().sum()

#### Change columns data types

In [ ]:
df["birth year"] = df["birth year"].astype('int64')
df["start station id"] = df["start station id"].astype('int64')
df["end station id"] = df["end station id"].astype('int64')

In [ ]:
df.head()

#### Add a hour column

In [ ]:
df['hour'] = df['starttime'].dt.hour

### Export Data

#### Export data which don't have station id
* Extract rows which don't have station id 
* export them to csv file

In [ ]:
# Extract data which don't have start station id and end station id
# Comfirm that rows which have no start station id also don't have end station id
no_start_station_id_df = df[(df['start station id'] == -1)] 
no_station_id_df = df[(df['end station id'] == -1)] 
compare = no_station_id_df == no_start_station_id_df
compare.all().all()

In [ ]:
# Write the data to csv
no_start_station_id_df.to_csv('data/no_station_id_data.csv', index=False)

In [ ]:
# # Remove no station id data from dateframe df
# df = df[(df['start station id'] != -1)] 
# # df.to_csv('data/citibike_data.csv', index=False)
# df.shape

#### Export data which don't have start time
* Extract rows which don't have start time
* export them to csv file

In [ ]:
# Verify that no_starttime rows also no_stopttime
no_starttime = df[(df['starttime'] == '1900-01-01 00:00:00')] 
no_stopttime = df[(df['stoptime'] == '1900-01-01 00:00:00')] 
compare = no_starttime == no_stopttime
compare.all().all()

In [ ]:
no_starttime.to_csv('data/no_starttime_stoptime_data.csv', index=False)

In [ ]:
# # Remove no station id data from dateframe df
# df = df[(df['starttime'] != '1900-01-01 00:00:00')] 
# df.shape

#### Export Start stations, end stations data

In [ ]:
start_stations = df[['start station id', 'start station name', 'start station latitude', 'start station longitude']]
end_stations = df[['end station id', 'end station name', 'end station latitude', 'end station longitude']]
start_stations = start_stations.drop_duplicates(subset='start station id', keep="last").reset_index(drop=True).sort_values(by=['start station id'])
end_stations = end_stations.drop_duplicates(subset='end station id', keep="last").reset_index(drop=True).sort_values(by=['end station id'])
start_stations = start_stations.sort_values(by=['start station id'])
end_stations = end_stations.sort_values(by=['end station id'])
start_stations.to_csv('data/start_stations.csv', index=False)
end_stations.to_csv('data/end_stations.csv', index=False)

#### Export stations data

In [ ]:
new_column_names = ['station id', 'station name', 'station latitude', 'station longitude']
start_stations_new = start_stations.rename(columns={'start station id': new_column_names[0], 
                               'start station name': new_column_names[1], 
                               'start station latitude': new_column_names[2],
                               'start station longitude': new_column_names[3]})

end_stations_new = end_stations.rename(columns={'end station id': new_column_names[0], 
                             'end station name': new_column_names[1], 
                             'end station latitude': new_column_names[2],
                             'end station longitude': new_column_names[3]})

stations = start_stations_new.append(end_stations_new)
stations = stations.drop_duplicates(subset='station id', keep="last").reset_index(drop=True).sort_values(by=['station id'])
stations.to_csv('data/stations.csv', index=False)

#### Export 2018 data

In [ ]:
df_2016 = df[df['year'] == '2016'] 
df_2017 = df[df['year'] == '2017'] 
df_2018 = df[df['year'] == '2018'] 
df_2018.to_csv('data/2018_data.csv', index=False)
print("2018_data.csv file has been created")

#### Export 2016, 2017, 2018 summary data

In [ ]:
group_by_month_2016 = df_2016.groupby(['month'])
group_by_month_2017 = df_2017.groupby(['month'])
group_by_month_2018 = df_2018.groupby(['month'])
print("finished group by moth")

In [ ]:
# Get total ride count by month for 2016, 2017, 2018
count_by_month_2016 = group_by_month_2016.count().transpose()
count_by_month_2017 = group_by_month_2017.count().transpose()
count_by_month_2018 = group_by_month_2018.count().transpose()
rides_by_month_2016 = list(count_by_month_2016.loc['tripduration'])
rides_by_month_2017 = list(count_by_month_2017.loc['tripduration'])
rides_by_month_2018 = list(count_by_month_2018.loc['tripduration'])

In [ ]:
# Get Average trip duration by month for 2016, 2017, 2018
avg_by_month_2016 = group_by_month_2016.mean().transpose()
avg_by_month_2017 = group_by_month_2017.mean().transpose()
avg_by_month_2018 = group_by_month_2018.mean().transpose()
avg_tripduration_by_month_2016 = list(avg_by_month_2016.loc['tripduration'])
avg_tripduration_by_month_2017 = list(avg_by_month_2017.loc['tripduration'])
avg_tripduration_by_month_2018 = list(avg_by_month_2018.loc['tripduration'])

In [ ]:
# Get gender ride count by month for 2016, 2017, 2018
def get_rides_by_gender(list_of_rides):
    """Return rodes count by gender for a given list"""
    female = []
    male = []
    unknown = []
    rides = list(count_by_month_gender_2018.loc['tripduration'])
    i = 0
    for ride in rides:
        n = i % 3
        if n == 0:
            female.append(ride)
        elif n == 1:
            male.append(ride)
        else:
            unknown.append(ride)
        i += 1
    return {'female': female, 'male': male, 'unknown': unknown}

group_by_month_gender_2016 = df_2016.groupby(['month', 'gender'])
group_by_month_gender_2017 = df_2017.groupby(['month', 'gender'])
group_by_month_gender_2018 = df_2018.groupby(['month', 'gender'])
count_by_month_gender_2016 = group_by_month_gender_2016.count().transpose()
count_by_month_gender_2017 = group_by_month_gender_2017.count().transpose()
count_by_month_gender_2018 = group_by_month_gender_2018.count().transpose()
rides_by_month_gender_2016_all = list(count_by_month_gender_2016.loc['tripduration'])
rides_by_month_gender_2017_all = list(count_by_month_gender_2017.loc['tripduration'])
rides_by_month_gender_2018_all = list(count_by_month_gender_2018.loc['tripduration'])
rides_by_month_gender_2016 = get_rides_by_gender(rides_by_month_gender_2016_all)
rides_by_month_gender_2017 = get_rides_by_gender(rides_by_month_gender_2017_all)
rides_by_month_gender_2018 = get_rides_by_gender(rides_by_month_gender_2018_all)

In [167]:
# create a df
year = [str(2016 + int(i / 12)) for i in range(36)]
month = [i % 12 + 1 for i in range(36)]
rides_total =  rides_by_month_2016 + rides_by_month_2017 + rides_by_month_2018
rides_female = rides_by_month_gender_2016['female'] + rides_by_month_gender_2017['female'] + rides_by_month_gender_2018['female']
rides_male = rides_by_month_gender_2016['male'] + rides_by_month_gender_2017['male'] + rides_by_month_gender_2018['male']
rides_unknown = rides_by_month_gender_2016['unknown'] + rides_by_month_gender_2017['unknown'] + rides_by_month_gender_2018['unknown']
average_trip_duration = avg_tripduration_by_month_2016 + avg_tripduration_by_month_2017 + avg_tripduration_by_month_2018


ride_summary = pd.DataFrame({
    'year': year,
    'month': month,
    'rides total ': rides_total,
    'rides female': rides_female,
    'rides male': rides_male,
    'rides unknown': rides_unknown,
    'average_trip_duration': average_trip_duration
})
ride_summary

,year,month,rides total,rides female,rides male,rides unknown,average_trip_duration
0,2016,1,509478,151806,537589,29599,847.211931
1,2016,2,560874,181266,621749,40099,877.094959
2,2016,3,919921,212687,702533,61452,1019.789868
3,2016,4,1013149,293830,890184,123529,1074.349986
4,2016,5,1212280,421304,1203816,199590,1052.514054
5,2016,6,1460318,469544,1281908,201651,989.758037
6,2016,7,1380110,460279,1242546,210800,1000.327859
7,2016,8,1557663,475485,1296312,205380,980.285741
8,2016,9,1648856,463433,1240964,173487,947.343280
9,2016,10,1573872,448785,1304230,125642,925.526484
10,2016,11,1196942,290368,902869,67118,878.608080
11,2016,12,812192,223675,746622,46208,775.957297
12,2017,1,726676,151806,537589,29599,777.898907
13,2017,2,791647,181266,621749,40099,812.873783
14,2017,3,727665,212687,702533,61452,789.513618
15,2017,4,1315404,293830,890184,123529,1085.863224
16,2017,5,1523268,421304,1203816,199590,983.284844
17,2017,6,1731594,469544,1281908,201651,1072.826548
18,2017,7,1735599,460279,1242546,210800,1060.143360
19,2017,8,1816498,475485,1296312,205380,1156.787825
20,2017,9,1878098,463433,1240964,173487,997.088892
21,2017,10,1897592,448785,1304230,125642,1067.820207
22,2017,11,1330649,290368,902869,67118,892.714336
23,2017,12,889967,223675,746622,46208,764.997162
24,2018,1,718994,151806,537589,29599,826.810655
25,2018,2,843114,181266,621749,40099,877.397791
26,2018,3,976672,212687,702533,61452,881.993721
27,2018,4,1307543,293830,890184,123529,970.907322
28,2018,5,1824710,421304,1203816,199590,1121.914174
29,2018,6,1953103,469544,1281908,201651,1211.319580
30,2018,7,1913625,460279,1242546,210800,1074.544032
31,2018,8,1977177,475485,1296312,205380,1012.001330
32,2018,9,1877884,463433,1240964,173487,967.514919
33,2018,10,1878657,448785,1304230,125642,900.148279
34,2018,11,1260355,290368,902869,67118,849.663856
35,2018,12,1016505,223675,746622,46208,823.067449

In [168]:
ride_summary.to_csv('data/ride_summary.csv', index=False)

### Prepare data for analysis

In [ ]:
####

#### Explore Data

In [ ]:
df.groupby(['', 'col2'])['col3'].mean()

Usertypes

In [ ]:
usertypes = pd.DataFrame({'usertype_id': [0, 1, 2],
             'usertype': ['Unknown', 'Subscriber', 'Customer']})
usertypes.to_csv('data/usertypes.csv', index=False)